<div class="col-12">
<div widget class="card border-0 box-shadow">

        <div class="card-body text-center pt-0 widget-body">
<p></p>
            <p></p>
           <div> <button type="button" class="btn btn-danger btn-rounded w-400p mb-2 mr-xl-2">Activité Comerciale</button></div>
            <div></div>
            <p></p>
          <div>  <button type="button" class="btn btn-success btn-rounded w-300p mb-1 mr-xl-2">Affichage par des critéres spécifique</button></div>
            <p></p>
        </div>
</div>
