<div widget class="card border-0">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0">A faire liste </h5>
    </div>

    <div class="card-body widget-body">
        <div class="task-todo-container">
            <div class="row header">
                <div class="col-sm-12">
                    <div class="input-group">
                        <input type="text" value="" class="form-control" placeholder="Note..."
                               (keyup)="addToDoItem($event)" [(ngModel)]="newTodoText"/>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" (click)="addToDoItem($event)">
                                <i class="fa fa-plus add-item-icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="todo-list" perfectScrollbar>
                        <li *ngFor="let item of getNotDeleted()" >
                            <h4>
                                <span >{{ item.text }}</span>
                            <i class="fa fa-trash text-primary" (click)="item.deleted = true"></i>
                            </h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
