<div class="wrapper">
    <div class="page-header " style="
    background-image:url('assets/labo-exemple.jpg' ) ; background-repeat: no-repeat ;background-size: cover" >
        <div class="filter"></div>


        <div class="position-relative">
            <section class="section section-lg  ">
                <div class="col-lg-9 text-sm-center">
                    <img src="./assets/zribi123.png" style="width: 250px;" class="img-fluid">
                    <div class="presentation-subtitle lead  border-light" >
                        <p>  Bienvenue dans notre plateforme personnel </p>
                    </div>
                </div>
            </section>
        </div>
</div>
